<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="TriviaDb"
         connectionString="Data Source=C:\Users\Terrence\Documents\GPLC project\Third\Trivia\DatabaseManagement\bin\Debug\trivia.sqlite;Version=3"
         providerName="System.Data.SqLite"/>
  </connectionStrings>
</configuration>